<legend>Listing Teams</legend>

<table class = "table-striped" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Team Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <% @my_teams.each do |team| %>
    <tr>
      <td><%= team.id  %></td>
      <td><%= team.team_name %></td>
      <% if is_user_is_team_lead_team?(team) %>
        <td><%= link_to "New Task", new_task_path(:team_id => team.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
