<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to GrepRuby.com, <%= @user.first_name + " " + @user.last_name %></h1>
    <p>
      New task have assigned to you.
    </p>
    <p>
      To see the task details, just follow this link: <%= link_to "Show Task", task_url(@task.id) %> .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
